<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Payment Report</h1>
    </header>
    <div class="container">
        <table>
            <tr>
                <th>Commuter Name</th>
                <td>{{ report[0] }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ report[1] }}</td>
            </tr>
            <tr>
                <th>Destination (Stop)</th>
                <td>{{ report[2] }}</td>
            </tr>
            <tr>
                <th>Payment Status</th>
                <td>{{ report[3] }}</td>
            </tr>
        </table>
    </div>
</body>
</html>
